.error-container {
    text-align: center;
    min-width: 480px;
    max-width: 1200px; /* 최대 너비 1200px */
    min-height: 280px; /* 최소 높이 500px */
    max-height: 2500px; /* 최대 높이 2500px */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 내부 여백 */
    background-color: #ff6464; /* 짙은 회색 배경 */
    border-radius: 10px; /* 모서리 둥글게 */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); /* 그림자 추가 */
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    box-shadow: 12px 15px 7px 0px rgba(255, 30, 30, 0.301);
  }
  
  .error-header {
    font-weight: bold; /* 제목 강조 */
    color: #ffffff; /* 제목 색상 */
  }
  
  .page-headerLine {
    border-color: #fff; /* 구분선 색상 */
  }