#root {
  width: 1680px;
  height: 920px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius:20px;
}

.logo {
  text-align: left;
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-1{
  color: rgb(112, 63, 63);
  text-align: center;
}

.pan-1{
  color: brown;
}