.company-logo{
    text-align: left;
    margin-top: 2rem;
    padding-top: 2px;
}

.page-container{
    max-width: 1800px;
    height: 600px;
    margin-top: 10 rem;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(133, 133, 133, 0.63);

}

.page-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;

}

.page-headerLine{
    border:3px dotted rgb(124, 158, 202);
}