.login-box {
  min-width: 480px;
  max-width: 600px;
  width: 100%;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 15px;
  background-color: #ffffff;
}

/* h2 태그 스타일 추가 */
h2.login-header {
  color: white;
  font-weight: bold;
  min-width: 480px;
  max-width: 600px;
  width: 100%;
  padding-left: 1rem; /* login-box의 padding-left와 동일하게 설정 */
  margin-bottom: 1rem !important; /* 마진 조정 */
  text-align: left;
}

.password-container {
  position: relative;
}

.password-toggle {
  color: rgb(148, 151, 160);
  position: absolute;
  right: 10px;  /* 오른쪽 여백 */
  top: 50%;     /* 세로 중앙 정렬 */
  transform: translateY(-50%);  /* 정확한 중앙 정렬 */
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle svg {
  font-size: 1.25rem;  /* 아이콘 크기 조정 */
}
